Prestamos-P2P/MVC_Presentacion/Connected Services/ServicioSolicitantesRef/ServicioImportacion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Importacion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Importacion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDtoSolicitante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoSolicitante" nillable="true" type="tns:DtoSolicitante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoSolicitante" nillable="true" type="tns:ArrayOfDtoSolicitante" />
  <xs:complexType name="DtoSolicitante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cell" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDeNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoSolicitante" nillable="true" type="tns:DtoSolicitante" />
</xs:schema>